body {
  margin: 0;
  background: url(bg.jpeg) no-repeat;
  background-size: cover; }

.movie-search {
  margin: 150px auto 0px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 700px;
  padding: 30px;
  background: linear-gradient(0.5turn, #5f5e60, rgba(81, 41, 41, 0.435)); }
  .movie-search .movie-search__title {
    margin: 25px 0px;
    color: #fff; }
  .movie-search .movie-search__line {
    display: flex;
    column-gap: 20px; }
    .movie-search .movie-search__line label {
      display: none; }
    .movie-search .movie-search__line .movie-search__input {
      padding: 10px;
      width: 300px;
      border-radius: 8px;
      border: none; }
      .movie-search .movie-search__line .movie-search__input:placeholder-shown {
        font-size: 0.8rem;
        color: grey; }
    .movie-search .movie-search__line .movie-search__select-category {
      width: 250px;
      position: relative; }
      .movie-search .movie-search__line .movie-search__select-category::before, .movie-search .movie-search__line .movie-search__select-category::after {
        --size: 0.2rem;
        position: absolute;
        content: "";
        right: 1rem;
        pointer-events: none; }
      .movie-search .movie-search__line .movie-search__select-category::before {
        border-left: var(--size) solid transparent;
        border-right: var(--size) solid transparent;
        border-bottom: var(--size) solid black;
        top: 40%; }
      .movie-search .movie-search__line .movie-search__select-category::after {
        border-left: var(--size) solid transparent;
        border-right: var(--size) solid transparent;
        border-top: var(--size) solid black;
        top: 55%; }
      .movie-search .movie-search__line .movie-search__select-category select {
        appearance: none;
        width: 100%;
        font-size: 0.8rem;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #caced1;
        border-radius: 8px;
        color: #000;
        cursor: pointer; }
        .movie-search .movie-search__line .movie-search__select-category select:first-child {
          color: grey; }
    .movie-search .movie-search__line button {
      font-size: 0.8rem;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #caced1;
      font-weight: 700;
      border-radius: 8px;
      color: #000;
      cursor: pointer; }

.result-container .result-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 20px;
  margin: 0px auto 50px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  width: 700px;
  padding: 30px;
  background: linear-gradient(0.5turn, rgba(81, 41, 41, 0.435), #5f5e60); }
  .result-container .result-grid .movie-container {
    width: max-content;
    height: fit-content;
    display: flex;
    flex-direction: column; }
    .result-container .result-grid .movie-container .movie-container__description {
      text-align: center;
      color: white; }
      .result-container .result-grid .movie-container .movie-container__description h2 {
        font-size: 1rem; }
      .result-container .result-grid .movie-container .movie-container__description h3 {
        font-size: 0.7rem; }
    .result-container .result-grid .movie-container .movie-container__poster {
      height: 400px;
      width: 300px; }

.page-number {
  display: none; }
  .page-number button {
    width: 50px;
    height: 30px;
    border: 2px solid #272727;
    background-color: #272727;
    color: #fff;
    cursor: pointer;
    margin: 0px 10px 50px; }
